<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="{:url('student/adds')}" method="post">
        <p>姓名：<input type="text" name="names"></p>
        <p>性别：<input type="text" name="sex"></p>
        <p>年龄</input>：<input type="text" name="age"></p>
        <p>班级：<input type="text" name="classes"></p>
        <p><input type="submit" value="添加"></p>
    </form>


</body>

</html>